<!--26.-AGREMAMOS PARA PORDER VER LOS DETALLES-->
<h3>Detalles del Empleado</h3>
<div>
  <div>
    <label><b>ID : </b>{{ empleado.id }}</label>
  </div>

  <div>
    <label><b>NOMBRE : </b>{{ empleado.nombres }}</label>
  </div>

  <div>
    <label><b>APELLIDO: : </b>{{ empleado.apellidos }}</label>
  </div>

  <div>
    <label><b>EMAIL : </b>{{ empleado.emial }}</label>
  </div>

  <div>
    <label><b>Telefono : </b>{{ empleado.telefono }}</label>
  </div>

  <div>
    <label><b>Direccion : </b>{{ empleado.direccion }}</label>
  </div>

</div>